<ion-view title="推荐">
    <!--<ion-header-bar class="topic_header tabs-positive tabs-striped  tabs-top">-->
        <!--<ion-tabs class=" ">-->
            <!--<ion-tab title="推荐" ui-sref="tabs.tuijian">-->
                <!--<ion-view name="tabs-tuijian"></ion-view>-->
            <!--</ion-tab>-->
            <!--<ion-tab title="热门"  ui-sref="tabs.remen">-->
                <!--<ion-view name="tabs-remen"></ion-view>-->
            <!--</ion-tab>-->
            <!--<ion-tab title="收藏"  ui-sref="tabs.shoucang">-->
                <!--<ion-view name="tabs-shoucang"></ion-view>-->
            <!--</ion-tab>-->
        <!--</ion-tabs>-->
    <!--</ion-header-bar>-->
	<!--推荐-->
	<ion-content >
		<ion-slide-box auto-play="true" does-continue="true" slide-interval="2500" show-pager="false">
			<ion-slide>
				<div class="box item-image"><img src="images/gakki2.jpg"/></div>
			</ion-slide>
			<ion-slide>
				<div class="box item-image"><img src="images/gakki4.jpg"/></div>
			</ion-slide>
			<ion-slide>
				<div class="box item-image"><img src="images/gakki5.jpg"/></div>
			</ion-slide>
		</ion-slide-box>
		<div class="list card list-border">
			<div class="item item-avatar-left item-button-right">
				<img ng-src="images/01.jpg" class="item_image"/>
				<label><span>来自话题:</span>文学</label>
				<button class="button button-icon button-small ion-android-more-horizontal " id="">	</button>
			</div>
			<div class="item-image home-list-img" >
				<img src="images/gakki2.jpg"   />
			</div>
			<div class="item">
				<h2>gakki研究会：系围巾的美少女</h2>
				<p>我们似乎都曾遇见那样惬意的美丽，恍若初见，若一抹微光，一束骄阳。
					也正是如此，所以有些人，一见而误，或许这就是最值得玩味的眼缘，也是上天匆忙扔下的骰子。
					作为一名治愈系的美少女，早已有人为我噶的美貌所倾倒。有人，研究她的海报。有人，收藏她的写真。而我，今天所要描述的是美少女和围巾。
					作为一种美的点缀，围巾总是和她如影随形，又相得益彰。
					gakki酱，真的是对围巾情有独钟。
				</p>
			</div>
			<div class="item action-item">
				<label>
					<span><em>2.5k</em>赞同</span>.
					<span><em>215</em>评论</span>.
					<span>关注问题</span>
				</label>
			</div>
		</div>
		<div class="list card list-border">
			<div class="item item-avatar-left item-button-right">
				<img ng-src="images/01.jpg"  class="item_image"/>
				<label><span>来自话题:</span>文学</label>
				<button class="button button-icon button-small ion-android-more-horizontal" id="">	</button>
			</div>
			<div class="item-image home-list-img" >
				<img src="images/gakki3.jpg" />
			</div>
			<div class="item">
				<h2>gakki研究会：系围巾的美少女</h2>
				<p>我们似乎都曾遇见那样惬意的美丽，恍若初见，若一抹微光，一束骄阳。
					也正是如此，所以有些人，一见而误，或许这就是最值得玩味的眼缘，也是上天匆忙扔下的骰子。
					作为一名治愈系的美少女，早已有人为我噶的美貌所倾倒。有人，研究她的海报。有人，收藏她的写真。而我，今天所要描述的是美少女和围巾。
					作为一种美的点缀，围巾总是和她如影随形，又相得益彰。
					gakki酱，真的是对围巾情有独钟。
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>