<ion-view title="Message">
	<ion-header-bar class="bar bar-header bar-positive" >
		<p class="msg_title">私信</p>
	</ion-header-bar>
	<ion-content>
		<a class="item item-avatar item-icon-left " href="#">
			<spann class="icon positive message-color">知</spann>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist.</p>
		</a>
		<a class="item item-avatar item-icon-left" href="#">
			<spann class="icon positive  message-color">知</spann>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist.</p>
		</a>
		<a class="item item-avatar item-icon-left " href="#">
			<spann class="icon positive message-color">知</spann>
			<h2>Venkman</h2>
			<p>Back off, man. I'm a scientist.</p>
		</a>

	</ion-content>
</ion-view>