<ion-view title="Notice">
    <ion-header-bar class="topic_header tabs-positive tabs-striped  tabs-top">
        <ion-tabs class=" ">
            <ion-tab title="通知" ui-sref="tabs.notice">
                <ion-view name="tabs-tuijian"></ion-view>
            </ion-tab>
            <ion-tab title="关注"  ui-sref="tabs.attention">
                <ion-view name="tabs-attention"></ion-view>
            </ion-tab>
            <ion-tab title="赞与感谢"  ui-sref="tabs.support">
                <ion-view name="tabs-support"></ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <h2 class="title">Sub Header</h2>
    </div>
    <ion-content class="has-subheader">
        <div>attention</div>
    </ion-content>
</ion-view>