<ion-view title="Notice">
	<ion-header-bar class="topic_header tabs-positive tabs-striped  tabs-top">
		<ion-tabs class=" ">
			<ion-tab title="通知" ui-sref="tabs.notice">
				<ion-view name="tabs-tuijian"></ion-view>
			</ion-tab>
			<ion-tab title="关注"  ui-sref="tabs.attention">
				<ion-view name="tabs-attention"></ion-view>
			</ion-tab>
			<ion-tab title="赞与感谢"  ui-sref="tabs.support">
				<ion-view name="tabs-support"></ion-view>
			</ion-tab>
		</ion-tabs>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<h2 class="title">Sub Header</h2>
	</div>
	<ion-content class="has-subheader">
		<!--<div class="list">-->
            <!--<a class="item item-avatar" href="#">-->
                <!--<img ng-src="images/notice_03.jpg">-->
                <!--<p>前端外刊评论&nbsp;新增了文章</p>-->
                <!--<h2>当我们讨论前段加密的时候,我们在讨论什么</h2>-->
            <!--</a>-->
            <!--<a class="item item-avatar" href="#">-->
                <!--<img ng-src="images/notice_03.jpg">-->
                <!--<p>前端外刊评论&nbsp;新增了文章</p>-->
                <!--<h2>使用纯css实现500px</h2>-->
            <!--</a>-->
            <!--<a class="item item-avatar" href="#">-->
                <!--<img ng-src="images/notice_03.jpg">-->
                <!--<p>前端外刊评论&nbsp;新增了文章</p>-->
                <!--<h2>Venkman</h2>-->
            <!--</a>-->
            <!--<a class="item item-avatar" href="#">-->
                <!--<img ng-src="images/notice_03.jpg">-->
                <!--<p>前端外刊评论&nbsp;新增了文章</p>-->
                <!--<h2>Venkman</h2>-->
            <!--</a>-->
        <!--</div>-->

	</ion-content>
</ion-view>